extends base

block content

    main(class="w-75 mx-auto")
        each property in properties
            div(class="row row-cols-1 row-cols-md-3 g-4")
                div(class="col")
                    div(class="card h-100")
                        img(src="", alt="", class="")

                        div(class="card-body")
                            h5("card-title")

                            div(class="row")

                                div(class="col-8")
                                    p(class="card-text")
                                    p(class="card-text")
                                    p(class="card-text")

                            form(method="get", action="")
                                button(type="submit", class="btn btn-primary" name="propertySelected")    