extends base

block content
    main(class="w-75 mx-auto my-5")
        h1(class="text-center my-5") Search for properties you like!
        form(method="get", action="/overview")
            div(class="row")
                div(class="col-3")
                    select(class="form-select", arial-label="city", name="city")
                        option(value="" selected) City
                        each city in cities
                            option(value=`${city}`)= `${city}`
                div(class="col-3") 
                    input(type="text", class="form-control", placeholder="Min Price", name="minPrice")
                div(class="col-3") 
                    input(type="text", class="form-control", placeholder="Max Price", name="maxPrice")

            div(class="text-center my-5")
                button(type="submit" class="btn btn-success") Filter