extends base

block content
  main
    div(class="w-75 mx-auto my-5")
      h2(class="my-3") Sign up for new account
      form(class="form--registration")
        div.mb-3
          label.form-label(for='email') Email address
          input#email.form-control(type='email', placeholder='you@example.com', value="danieljong5201@gmail.com", required)

        div.mb-3
          label.form-label(for='name') Full Name
          input#name.form-control(type='text', placeholder='John Smith', value="Daniel", required)
          
        div.mb-3
          label.form-label(for='password') Password
          input#password.form-control(type='password', placeholder='••••••••', required, value="pass1234", minlength='8', maxlength='20')

        div.mb-3
          label.form-label(for='passwordConfirm') Password Confirmation
          input#passwordConfirm.form-control(type='password', placeholder='••••••••', required, value="pass1234", minlength='8', maxlength='20')
        button(type="submit" class="btn btn-primary") Register