extends base

block content
  main
    div(class="w-75 mx-auto my-5")
      h2(class="my-3") Reset Password
      form(class="form--resetPassword")
        input#resetToken(type="hidden" value=`${tokenId}`)
        div.mb-3
          label.form-label(for='password') Password
          input#password.form-control(type='password', placeholder='••••••••', required, minlength='8', maxlength='20')
          
        div.mb-3
          label.form-label(for='passwordConfirmation') New Password
          input#passwordConfirmation.form-control(type='password', placeholder='••••••••', required, minlength='8', maxlength='20')

        div
          button(type="submit" class="btn btn-success") Reset