extends base

block content
  main
    section.vh-75
      .container-fluid.h-custom
        .row.d-flex.justify-content-center.align-items-center.h-100
          .col-md-9.col-lg-6.col-xl-5
            img.img-fluid(src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw1.webp", alt="Sample image")
          .col-md-8.col-lg-6.col-xl-4.offset-xl-1
            form(class="form--registration")
              h1.my-5 Register for an account
              // Name input
              .form__group.mb-4
                label.form__label(for="name") Name
                input.form__input(type="text", id="name" placeholder="Enter your name" required)
                
              // Email input
              .form__group.mb-4
                label.form__label(for="email") Email
                input.form__input(type="email", id="email" placeholder="Enter a valid email address" required)
                
              // Password input
              .form__group.mb-4
                label.form__label(for="password") Password
                input.form__input(type='password', id="password", placeholder='••••••••', pattern='^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,20}$', required, minlength='8', maxlength='20')
                p.form-text.text-muted Password must be 8-20 characters long, contain at least one uppercase letter, one lowercase letter, one number, and one special character (!@#$%^&*_=+-).

                
              // Confirm Password input
              .form__group.mb-4
                label.form__label(for="passwordConfirm") Confirm Password
                input.form__input(type='password', id="passwordConfirm", placeholder='••••••••', pattern='^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,20}$', required, minlength='8', maxlength='20')
                
              .text-center.text-lg-start.mt-4.pt-2
                button.btnn.btn--green.btn-small(style="padding-left: 2.5rem; padding-right: 2.5rem;", type="submit") Register
              p.form__label.fw-bold.mt-2.pt-1.mb-0
                | Already have an account? 
                a.link-danger(href="/login") Login


  