extends base

block content
  main
    div(class="w-75 mx-auto my-5")
      h2(class="my-3") Reset Password
      form(class="form--resetPassword form")
        input#resetToken(type="hidden" value=`${tokenId}`)
        div.form__group.mb-4
          label.form__label(for='password') Password (You must have 1 uppercase letter, 1 lowercase letter, 1 special character, one number and between 8-20 characters)
          input#password.form__input(type='password', placeholder='••••••••', pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,20}$",  required)

        div.form__group.mb-4
          label.form__label(for='passwordConfirmation') Password Confirmation
          input#passwordConfirmation.form__input(type='password', placeholder='••••••••', pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,20}$",  required)

        div
          button(type="submit" class="btnn btn--green") Reset